<launch>

	
<node pkg="merge_poses_pkg" type="merge_poses_node" name="merge_poses_node">

		
<remap from="odom0" to="H01/odometry"/>
		
<remap from="odom1" to="H02/odometry"/>
		
<remap from="odom2" to="H03/odometry"/>
	
<remap from="odom3" to="N01/odometry"/>
<remap from="odom4" to="N02/odometry"/>
<remap from="odom5" to="N03/odometry"/>
<remap from="odom6" to="N04/odometry"/>
<remap from="odom7" to="N05/odometry"/>
<remap from="odom8" to="N06/odometry"/>
<remap from="odom9" to="N07/odometry"/>

</node>


</launch>
